.select-container {
    position: absolute;
    top: -54px;
    left:18px;
    display: inline-block;
    height: 140px;
    font-size: 14px;
    color: #efeff1;
    background-color: rgb(2, 147, 155);
    z-index: 100;
    border-radius: 8px;
    opacity: 0.9;
    transition: all 0.3s ease;

}

.select-add {
    opacity: 1;
    transform: scale(1.1);
    -ms-transform:scale(1.1); 	/* IE 9 */
    -moz-transform:scale(1.1); 	/* Firefox */
    -webkit-transform:scale(1.1); /* Safari 和 Chrome */
    -o-transform:scale(1.1);
}

.select-container .select-item {
    padding: 10px auto;
    list-style: none;
    text-align: center;
    width: 236px;
    height: 28px;
    line-height: 28px;
}
.select-container .select-item:hover {
    border-radius: 8px;
    background-color:  rgb(0, 118, 129);
}

@media screen and (max-width: 870px) {
    .select-container {
        position: absolute;
        top: -54px;
        text-align: center;
        left:50%;
        transform: translateX(-50%);
    }

    .select-item {
        width: 80%;
    }
}



